<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}API{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        th,
        td {
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
    {% block styles %} {% endblock %}
</head>

<body>
    <header>
        <h1>Aplicación prueba API</h1>
    </header>
    {% block content %} {% endblock %}
    {% block scripts %} {% endblock %}
</body>

</html>